<template>
  <table id="swag">
    <tr>
      <td colspan="2" class="small_number">
        <span class="coins" @click="randomize_state" @dblclick="payout_animation">COINS IN:<br><span class="value">{{ state.total_coin_inserts }}</span></span>
        <br>
        <br>
        <span class="last_minute">Last minute: <span class="value">{{ state.coins_in_last_60_seconds }}&nbsp;|</span></span>
        <span class="average_last_minute"> avg: <span class="value">{{ state.average_coins_in_list_60_seconds }}</span></span>
        <br><br><br>

        <span class="payouts">CYBER OUT: <span class="value">{{ state.payouts }}</span></span>
      </td>
    </tr>
  </table>
</template>

<script>
import JSConfetti from 'js-confetti'

const jsConfetti = new JSConfetti()

jsConfetti.addConfetti()
jsConfetti.addConfetti({
  emojis: ['🌈', '⚡️', '💥', '✨', '💫', '🌸'],
})
jsConfetti.addConfetti({
  confettiColors: [
    '#ff0a54', '#ff477e', '#ff7096', '#ff85a1', '#fbb1bd', '#f9bec7',
  ],
})
jsConfetti.addConfetti({
  emojis: ['🦄'],
  emojiSize: 100,
  confettiNumber: 30,
})

export default {
  name: "PusherCounter.vue",


  data() {
    return {
      // websocket for game updates without polling, contains various messages
      ws: {},

      // game state
      state: {
        average_coins_in_list_60_seconds: 42,
        coins_in_last_60_seconds: 1337,
        total_coin_inserts: 31337,
        payouts: 42069,
      },


      // nice colors to switch the background per coin insert
      background_colors: [
        '#9cff94',
        '#ff64bf',
        '#f7ae58',
        '#f7e561',
        '#ffc8fc'
      ],

      el: null,
    }
  },

  mounted: function () {
    console.log("App loaded...");
    this.el = document.getElementById("swag");

    this.open_websocket();
  },

  methods: {
    randomize_state(){
      this.state.average_coins_in_list_60_seconds = Math.floor(Math.random() * 100);
      this.state.coins_in_last_60_seconds = Math.floor(Math.random() * 100);
      this.state.total_coin_inserts = Math.floor(Math.random() * 100);
      this.state.payouts = Math.floor(Math.random() * 100);
    },

    open_websocket: function () {
      let self = this;
      this.ws = new WebSocket("ws://localhost:8000/ws/pusher/lobby/");
      this.ws.onopen = () => {
        console.log("Connection opened.");
        this.ws.send(JSON.stringify({'message': "initialize"}));
      };

      this.ws.onmessage = function (evt) {
        const obj = JSON.parse(evt.data);
        console.log(obj.message)

        if (obj.message.length > 20)
          self.handle_ws_message(JSON.parse(obj.message));
      };

      this.ws.onclose = function () {
        console.log("Connection is closed, rebuilding connection.");
        self.open_websocket();
      };
    },
    // not via websocket, because that means the sender needs to know the state etc,
    // and we want to separate that as much as possible. We only request a http thing
    handle_ws_message: function (data) {
      this.state = data;

      if (data['message'] === "payout") {
        this.payout_animation();
      } else {
        this.make_it_rain(4);
      }
    },

    make_it_rain: function (amount) {
      let choice = Math.floor(Math.random() * 6); // 0 to 3

      if (choice === 0) {
        jsConfetti.addConfetti({
          emojis: ['🦄'],
          emojiSize: 100,
          confettiNumber: amount,
        })
      }

      if (choice === 1) {
        jsConfetti.addConfetti({
          emojis: ['🌈', '⚡️', '💥', '✨', '💫', '🌸', '🦄'],
          confettiColors: [
            '#ff0a54', '#ff477e', '#ff7096', '#ff85a1', '#fbb1bd', '#f9bec7',
          ],
          confettiRadius: 20,
          confettiNumber: amount,
        })
      }

      if (choice === 2) {
        jsConfetti.addConfetti({
          confettiColors: [
            '#ff0a54', '#ff477e', '#ff7096', '#ff85a1', '#fbb1bd', '#f9bec7',
          ],
          confettiRadius: 20,
          confettiNumber: amount,
        })
      }

      if (choice === 3) {
        jsConfetti.addConfetti({
          confettiNumber: amount,
          confettiRadius: 20,
        })
      }

      if (choice === 4) {
        jsConfetti.addConfetti({
          emojis: ['💰', '💸', '🤑', '🥇', '💶', '🪙', '💷', '💴', '💵'],
          confettiNumber: amount,
        })
      }

      if (choice === 5) {
        jsConfetti.addConfetti({
          emojis: ['🍆', '🍑', '💦'],
          confettiNumber: amount,
        })
      }

    },

    randomcolor: function () {
      return this.background_colors[Math.floor(Math.random() * this.background_colors.length)];
    },

    payout_animation: function () {
      this.make_it_rain(100);
      let els = this.el.style;
      let previouscolor = els.backgroundColor;

      let colors = ["black", "#e6ff00", "black", "#e6ff00", "black", "#e6ff00", "black", "#e6ff00", previouscolor]


      for (let i=0; i<colors.length; i++){
        setTimeout(() => {
          els.backgroundColor = colors[i];
        }, i*100);
      }
    }
  },

  watch: {
    state: function (new_data, old_data) {
      if (new_data.total_coin_inserts > old_data.total_coin_inserts) {
        this.el.style.backgroundColor = this.randomcolor();
      }
    },
  },
}
</script>

<style scoped>

/*
The screen size = 800x480.
See: https://www.waveshare.com/w/upload/e/e6/5inch-hdmi-lcd-&-5inch-hdmi-lcd-b-panel-dimension.pdf
*/
#swag {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "OCR A Std", sans-serif;
  background-color: black;
  color: #e6ff00;
  -webkit-text-stroke: 0.2em black;
  height: 100vh;
  width: 100%;
}

table {
  /* https://www.w3schools.com/howto/howto_css_center-vertical.asp */
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);


}

.coins {
  font-size: 15vh;
}

.payouts {
  font-size: 13vh;
}

.value {
  font-weight: bold;
}

.last_minute, .average_last_minute {
  font-size: 7vh;
  -webkit-text-stroke: 1px black;
}

.coins .value {
  font-size: 20vh;
}

</style>