<template>
  <PusherCounter/>
</template>

<script>
import PusherCounter from './components/PusherCounter.vue'

export default {
  name: 'App',
  components: {
    PusherCounter
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
body {
  margin: 0;
  padding: 0;
}
</style>
